//extends layout
//block head
div(ng-controller='registerCtrl')
    p Регаемся
    form
        p
            | User:
            input#widgetname(type='text', name='user', size='25', required='', ng-model='user')
        p
            | Username:
            input#widgetprice(type='text', name='username', size='25', required='', ng-model='username')
        p
            | Password:
            br
            input#widgetname(type='password', name='password', size='25', required='', ng-model='password')
        p
            input#submit(type='submit', name='submit', value='Submit', ng-click='getRegData(user, username, password)')